## CSV file

Csv file is known as comma seprated value.


 Csv file format is plain text format
 
 
 in which values are Seprated by comma

In [2]:
import pandas as pd

In [3]:
d = pd.DataFrame({"As":[1,2,3,4,5,3,8],"Bs":[1,2,3,4,5,5,4],"Cs":[1,2,3,4,5,6,5]})

d

   As  Bs  Cs
0   1   1   1
1   2   2   2
2   3   3   3
3   4   4   4
4   5   5   5
5   3   5   6
6   8   4   5

In [11]:
a = pd.DataFrame({"As":[1,2,3,4,5,3,8],"Bs":[1,2,3,4,5,5,4],"Cs":[1,2,3,4,5,6,5]})

a.to_csv("Testnew_3.csv",index = False,header = [1,2,3])     ## index = Flase means it will not show the indexing in the .Csv file
                                                            ## to Create the csv file we have to use in to_csv() function in this 
                                                            ## function we will give file name, indexing ,Header  
a

   As  Bs  Cs
0   1   1   1
1   2   2   2
2   3   3   3
3   4   4   4
4   5   5   5
5   3   5   6
6   8   4   5