In [29]:
import pandas as pd
import numpy as np

In [7]:
csv = pd.read_csv("C:\\Users\\Rohan Borse\\Desktop\\RB Python Practice\\Pandas\\pldb.csv",low_memory = False)
csv

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,Java,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Very Tiny Language,1976,pl,vtl,4813,4070.0,8,1976,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4814,4071.0,8,1997,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4815,4072.0,8,1955,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4816,4073.0,8,1977,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4817,4074.0,8,1999,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
csv.index         ## this Function will Show the Starting and ending index and Step

RangeIndex(start=0, stop=4818, step=1)

In [11]:
csv.columns        ## show all details of Columns

Index(['title', 'appeared', 'type', 'pldbId', 'rank', 'languageRank',
       'factCount', 'lastActivity', 'exampleCount', 'bookCount',
       ...
       'features.hasIds', 'ebook', 'features.hasExports',
       'features.hasZippers', 'features.hasMonads', 'extensionOf', 'zulip',
       'features.hasImplicitArguments', 'features.hasDynamicTyping',
       'features.hasMethodChaining'],
      dtype='object', length=353)

In [17]:
a = csv.describe()   ## this will Show minimum to maximum ,std.,mean,count

In [22]:
csv.head()             ## Show first five data     we can also pass value in it to get specific datacsv.head()

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,Java,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
csv.tail()       ## show last five data  we can also pass value in it to get specific data

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
4813,Very Tiny Language,1976,pl,vtl,4813,4070.0,8,1976,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4814,4071.0,8,1997,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4815,4072.0,8,1955,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4816,4073.0,8,1977,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4817,4074.0,8,1999,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
csv[:5]         #  slicing in Pandas

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,Java,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
csv.index.array         ## Show the index in the array

<PandasArray>
[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
 ...
 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816, 4817]
Length: 4818, dtype: int64

In [26]:
csv.to_numpy()               ##1st way to  convert data in array

array([['Java', 1995, 'pl', ..., nan, nan, nan],
       ['JavaScript', 1995, 'pl', ..., nan, True, True],
       ['C', 1972, 'pl', ..., nan, nan, nan],
       ...,
       ['Wolontis-Bell Interpreter', 1955, 'pl', ..., nan, nan, nan],
       ['xl', 1977, 'pl', ..., nan, nan, nan],
       ['XQL', 1999, 'queryLanguage', ..., nan, nan, nan]], dtype=object)

In [31]:
v = np.array(csv)          ## 2nd way to convert in array
v

array([['Java', 1995, 'pl', ..., nan, nan, nan],
       ['JavaScript', 1995, 'pl', ..., nan, True, True],
       ['C', 1972, 'pl', ..., nan, nan, nan],
       ...,
       ['Wolontis-Bell Interpreter', 1955, 'pl', ..., nan, nan, nan],
       ['xl', 1977, 'pl', ..., nan, nan, nan],
       ['XQL', 1999, 'queryLanguage', ..., nan, nan, nan]], dtype=object)

In [35]:
csv.sort_index(axis = 0)  ## ?

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,Java,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Very Tiny Language,1976,pl,vtl,4813,4070.0,8,1976,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4814,4071.0,8,1997,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4815,4072.0,8,1955,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4816,4073.0,8,1977,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4817,4074.0,8,1999,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
csv["title"][0] = "python"   ## this method will give the warning

C:\Users\Rohan Borse\AppData\Local\Temp\ipykernel_13708\1062338879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv["title"][0] = "python"

In [40]:
csv["title"][0] = "java"
csv

C:\Users\Rohan Borse\AppData\Local\Temp\ipykernel_13708\15499169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv["title"][0] = "java"

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,java,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Very Tiny Language,1976,pl,vtl,4813,4070.0,8,1976,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4814,4071.0,8,1997,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4815,4072.0,8,1955,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4816,4073.0,8,1977,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4817,4074.0,8,1999,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
csv.loc[0,"title"] = "python"       ## right method to change the data
csv

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,python,1995,pl,java,0,0.0,920,2022,20,401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4,4.0,324,2022,6,182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Very Tiny Language,1976,pl,vtl,4813,4070.0,8,1976,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4814,4071.0,8,1997,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4815,4072.0,8,1955,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4816,4073.0,8,1977,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4817,4074.0,8,1999,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
csv.loc[[0,1,3],["title","bookCount"]]         ## To get Specific ROW AND COLOUMN Data

        title  bookCount
0      python        401
1  JavaScript        351
3      Python        342

In [48]:
csv.loc[:,["title","bookCount"]]    ## this will Show total data of selected coloumn

                          title  bookCount
0                        python        401
1                    JavaScript        351
2                             C         78
3                        Python        342
4                           SQL        182
...                         ...        ...
4813         Very Tiny Language          0
4814                      wizml          0
4815  Wolontis-Bell Interpreter          0
4816                         xl          0
4817                        XQL          0

[4818 rows x 2 columns]

In [49]:
csv.loc[[1,2,3],:]           ## this will only show the specific row data that is Selected

,title,appeared,type,pldbId,rank,languageRank,factCount,lastActivity,exampleCount,bookCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
1,JavaScript,1995,pl,javascript,1,1.0,818,2022,54,351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2,2.0,426,2022,26,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3,3.0,691,2022,35,342,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
csv.iloc[0,1]        ## this will show perticular data  by geting row no. and coloum no.

1995

In [55]:
csv.drop("rank",axis = 1)     ## to drop the total coloum

,title,appeared,type,pldbId,languageRank,factCount,lastActivity,exampleCount,bookCount,paperCount,...,features.hasIds,ebook,features.hasExports,features.hasZippers,features.hasMonads,extensionOf,zulip,features.hasImplicitArguments,features.hasDynamicTyping,features.hasMethodChaining
0,python,1995,pl,java,0.0,920,2022,20,401,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,1995,pl,javascript,1.0,818,2022,54,351,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True
2,C,1972,pl,c,2.0,426,2022,26,78,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Python,1991,pl,python,3.0,691,2022,35,342,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQL,1974,queryLanguage,sql,4.0,324,2022,6,182,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,Very Tiny Language,1976,pl,vtl,4070.0,8,1976,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,wizml,1997,pl,wizml,4071.0,8,1997,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Wolontis-Bell Interpreter,1955,pl,wolontis-bell-interpreter,4072.0,8,1955,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,xl,1977,pl,xl,4073.0,8,1977,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4817,XQL,1999,queryLanguage,xql,4074.0,8,1999,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN